@import '../utility/utility.scss'; 

.aboutSection {
    color: $black;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: $default-padding + 4px;

    p {
        margin-bottom: $default-margin;
    }

    code {
        font-family: 'Courier New', monospace;
        background-color: $off-white;
        padding: 2px 4px;
        border-radius: 4px;
    }
}