@import "../utility/utility.scss";

.userCard {
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    margin: 10px;
}

.userCard strong {
    margin-right: 10px;
    color: #333;
    font-size: 16px;
}

.userCard button {
    background-color: $interact-blue;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.userCard button:hover {
    background-color: #0056b3;
}